<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Page non trouvée</title>
    <style>
        body {
            font-family: 'Helvetica', sans-serif;
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100 vh;
            background-color: #f8d7da;
        }
        h1 {
            color: #721c24;
        }
    </style>
</head>
<body>
    <div>
        <h1>Erreur 404 - Page non trouvée</h1>
        <p>La page que vous recherchez n'existe pas.</p>
    </div>
</body>
</html>
